{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{ if 'static' in request.env.query_string:}}
<div class='col-md-6'>
<h2>Welcome</h2>
<p>It appears you are trying to get to a class for which you must log in.  If you have already registered, please log in.  Otherwise you can <a href="{{=URL(f='user/register')}}">Register</a> here.</p>
</div>

{{pass}}
<div class='col-md-6'>
  <h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
  <p>If you don't have an account, you may <a href="{{=URL(f='user/register')}}">Register</a> for one.</p>
  <div id="web2py_user_form">
    {{=form}}
    {{if request.args(0)=='login':}}
      <div id='auth-actions'>
        {{if not 'register' in auth.settings.actions_disabled:}}
          <a class="btn btn-lg btn-primary" href="{{=URL(args='register')}}" role="button">{{=T('Register')}}</a>
        {{pass}}
        {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
          <a class="btn btn-lg btn-primary" href="{{=URL(args='request_reset_password')}}" role="button">{{=T('Lost Password')}}</a>
        {{pass}}
      </div>
    {{pass}}
  </div>
  <br />

</div>

<script language="javascript">
    $("#auth_user_course_id").on("click", function () {
       $(this).select();
    });
</script>
